<?xml version="1.0" encoding="UTF-8"?>

	<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	  
	 <mapper namespace="com.spring.ajax_ict05.dao.SearchDAO">  <!-- namespace="패키지명.인터페이스" -->
		<select id="searchList" parameterType="String" resultType="com.spring.ajax_ict05.dto.SearchDTO">
			SELECT * FROM mvc_search_tbl 
			 WHERE keyword LIKE '%' || #{keyword} || '%'
		</select>
	 </mapper> 